/upload

/bitrix/backup
/bitrix/backup/

/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/

/bitrix/.settings.php
/bitrix/php_interface/dbconn.php

/bitrix/modules/install.log
/bitrix/modules/updater.log
/bitrix/modules/updater_partner.log

/bitrix/tmp/

/bitrix/site_checker_*.log

/include/counter-google.php
/include/counter-yandex.php
/include/counter-liveinternet.php
/include/uptolike.php

/robots.txt

/sitemap*.xml