@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?x53r4');
	src:url('../fonts/icomoon.eot?#iefixx53r4') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?x53r4') format('truetype'),
		url('../fonts/icomoon.woff?x53r4') format('woff'),
		url('../fonts/icomoon.svg?x53r4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	font-size: 18px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-actions_icon_big:before {
	content: "\e600";
}
.icon-alpha .path1:before {
	content: "\e601";
	color: rgb(238, 238, 238);
}
.icon-alpha .path2:before {
	content: "\e602";
	margin-left: -1.5712890625em;
	color: rgb(217, 54, 0);
}
.icon-arrow_down:before {
	content: "\e603";
}
.icon-arrow-dropdown:before {
	content: "\e604";
}
.icon-arrow_left:before {
	content: "\e605";
}
.icon-arrow_left_catalog:before {
	content: "\e606";
}
.icon-arrow_right:before {
	content: "\e607";
}
.icon-articles_icon_big:before {
	content: "\e608";
}
.icon-calendar_icon:before {
	content: "\e609";
}
.icon-cart:before {
	content: "\e60a";
}
.icon-clock:before {
	content: "\e60b";
}
.icon-compare:before {
	content: "\e60c";
}
.icon-compare-act:before {
	content: "\e60d";
}
.icon-payment-and-delivery:before {
	content: "\e60e";
}
.icon-directions:before {
	content: "\e60f";
}
.icon-facebook:before {
	content: "\e610";
}
.icon-google:before {
	content: "\e611";
}
.icon-heart:before {
	content: "\e612";
}
.icon-heart-act:before {
	content: "\e613";
}
.icon-help_icon:before {
	content: "\e614";
}
.icon-santeh:before {
	content: "\e615";
}
.icon-icon_3_2:before {
	content: "\e616";
}
.icon-icon_4_2:before {
	content: "\e617";
}
.icon-icon_5_2:before {
	content: "\e618";
}
.icon-icon_6_2:before {
	content: "\e619";
}
.icon-icon_7_2:before {
	content: "\e61a";
}
.icon-icon_8_2:before {
	content: "\e61b";
}
.icon-icon_9_2:before {
	content: "\e61c";
}
.icon-icon2_2:before {
	content: "\e61d";
}
.icon-how-to-order:before {
	content: "\e61e";
}
.icon-login:before {
	content: "\e61f";
}
.icon-login-act:before {
	content: "\e620";
}
.icon-contacts:before {
	content: "\e621";
}
.icon-map_pin:before {
	content: "\e622";
}
.icon-mastercard .path1:before {
	content: "\e623";
	color: rgb(238, 238, 238);
}
.icon-mastercard .path2:before {
	content: "\e624";
	margin-left: -1.5712890625em;
	color: rgb(255, 38, 38);
}
.icon-medium_arrow:before {
	content: "\e625";
}
.icon-menu_icon:before {
	content: "\e626";
}
.icon-more_icon:before {
	content: "\e627";
}
.icon-news_icon_big:before {
	content: "\e628";
}
.icon-phone:before {
	content: "\e629";
}
.icon-phone-city:before {
	content: "\e62a";
}
.icon-phone-all:before {
	content: "\e62b";
}
.icon-remove_icon:before {
	content: "\e62c";
}
.icon-rss_icon:before {
	content: "\e62d";
}
.icon-sber .path1:before {
	content: "\e62e";
	color: rgb(238, 238, 238);
}
.icon-sber .path2:before {
	content: "\e62f";
	margin-left: -1.5712890625em;
	color: rgb(70, 140, 0);
}
.icon-search_icon:before {
	content: "\e630";
}
.icon-small_arrow:before {
	content: "\e631";
}
.icon-star_blue:before {
	content: "\e632";
}
.icon-star_gray:before {
	content: "\e633";
}
.icon-twitter:before {
	content: "\e634";
}
.icon-view_mode_1:before {
	content: "\e635";
}
.icon-view_mode_2:before {
	content: "\e636";
}
.icon-visa .path1:before {
	content: "\e637";
	color: rgb(238, 238, 238);
}
.icon-visa .path2:before {
	content: "\e638";
	margin-left: -1.5712890625em;
	color: rgb(69, 99, 131);
}
.icon-vk:before {
	content: "\e639";
}
