* {
	font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
	outline: none!important;
}

a {color: #2cbfd6; text-decoration: none;}
a:hover {color: #2cbfd6; text-decoration: underline}
a img {border:none}

body {background: #f1f5f8; min-width: 660px}

.clear {
	clear: both;
	width: 100%;
	height: 0;
	line-height: 0;
	font-size: 0;
}

h1, .h1, h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
	color: #333;
	display: block;
	font-size: 48px;
	font-weight: 300;
	line-height: 120%;
	margin: 0;
	padding-bottom: 15px;
}

h2, .h2 {font-size: 45px;}
h3, .h3 {font-size: 40px;}
h4, .h4 {font-size: 35px;}
h6, .h6 {font-size: 30px;}

.h-title {
	display: block;
	font-size: 24px;
	font-weight: 300;
	padding-bottom: 15px;
}

/* Top navbar > */
.navbar-wrap {
	background: #444;
	min-height: 50px;
}

.navbar-bmarkt {
	background: #555; /* Old browsers */
	background: -moz-linear-gradient(left, #555 0%, #555 50%, #333 50%, #333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#555), color-stop(50%,#555), color-stop(50%,#333), color-stop(100%,#333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #555 0%,#555 50%,#333 50%,#333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #555 0%,#555 50%,#333 50%,#333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #555 0%,#555 50%,#333 50%,#333 100%); /* IE10+ */
	background: linear-gradient(to right, #555 0%,#555 50%,#333 50%,#333 100%); /* W3C */
	
	border: none;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
	color: #fff;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	margin: 0;
}

.navbar-bmarkt .user-id-block {
	border-right: 1px dotted #777;
	display: inline-block;
	font-weight: 300;
	height: 30px;
	line-height: 30px;
}

.navbar-bmarkt .user-id-block b, .navbar-bmarkt .user-id-block a {
	color: #fff;
	font-weight: 500;
}

.navbar-bmarkt .user-id-block a:hover {color: #2cbfd6; text-decoration: none;}

.navbar-bmarkt .login-link {
	color: #fff;
	margin-left: 15px;
}

.navbar-bmarkt .login-link i {
	margin-left: 10px;
	position: relative;
	bottom: -3px;
}

.navbar-bmarkt .login-link .icon-login-act {display: none;}

.navbar-bmarkt .login-link:hover {
	color: #2cbfd6;
	text-decoration: none;
}

.navbar-bmarkt .login-link:hover .icon-login {display: none;}
.navbar-bmarkt .login-link:hover .icon-login-act {display: inline;}

/*
.navbar-bmarkt .logout-link i {background: url("../img/temp-icons/exit.png") no-repeat;}
.navbar-bmarkt .logout-link:hover i {background-image: url("../img/temp-icons/exit-act.png");}
*/
.navbar-bmarkt .h-cart-wrap {
	font-weight: 300;
	height: 50px;
	line-height: 50px;
	margin: -10px 0;
}

.navbar-bmarkt .h-cart {
	background: #444;
	float: left;
	margin: 0 0 0 -20px;
	padding: 0 10px;
}

.navbar-bmarkt .h-cart .hc-icon {
	border-right: 1px dotted #777;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-right: 12px;
	padding-right: 12px;
}

.navbar-bmarkt .h-cart .hc-icon i {
	color: #85b93b;
	display: inlineblock;
	position: relative;
	bottom: -2px;
}

.navbar-bmarkt .h-cart .btn {
	font-size: 15px;
	margin-left: 10px;
	padding: 2px 20px;
}

.navbar-bmarkt .fav-compare-wrap {
	font-size: 13px;
	text-align: right;
}

.navbar-bmarkt .fav-compare-wrap a {
	color: #888;
}

.navbar-bmarkt .fav-compare-wrap a:hover {
	color: #fff;
	text-decoration: none;
}

.fav-compare-wrap .fc-link i {
	color: #2cbfd6;
	margin-right: 8px;
	position: relative;
	bottom: -4px;
}

.fav-compare-wrap .fc-link .icon-heart-act, .fav-compare-wrap .fc-link:hover .icon-heart {display: none;}
.fav-compare-wrap .fc-link:hover .icon-heart-act {display: inline;}

.navbar-bmarkt .fav-compare-wrap a:hover {color: #2cbfd6}

.navbar-bmarkt .fav-compare-wrap .h-compare-link {margin-left: 22px;}

.fav-compare-wrap .h-compare-link i {
	color: #2cbfd6;
	margin-right: 8px;
	position: relative;
	bottom: -4px;
}

.fav-compare-wrap .h-compare-link .icon-compare-act, .fav-compare-wrap .h-compare-link:hover .icon-compare {display: none;}
.fav-compare-wrap .h-compare-link:hover .icon-compare-act {display: inline;}

.fav-compare-wrap .h-compare-link span span {color: #2cbfd6}
/* < Top navbar */

/* Header > */
.header-wrap {
	background: #fff;
	
	-webkit-box-shadow: 0 1px 0 0 #e6eaec, 0 2px 0 0 #ebeff2, 0 3px 0 0 #eff3f5;
	-moz-box-shadow: 0 1px 0 0 #e6eaec, 0 2px 0 0 #ebeff2, 0 3px 0 0 #eff3f5;
	box-shadow: 0 1px 0 0 #e6eaec, 0 2px 0 0 #ebeff2, 0 3px 0 0 #eff3f5;
}

.header-wrap .header {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 100px;
}

.header .h-logo {
	padding-top: 10px;
}

.header .h-logo a, .header .h-logo span {
	display: block;
	overflow: hidden;
}

.header .h-contacts {
	border-left: 1px dotted #ccc;
	font-size: 13px;
	padding-left: 30px;
	padding-top: 5px;
	position: relative;
	min-height: 80px;
}

.header .h-contacts .hc-city {
	color: #444;
	font-weight: 300;
	margin-bottom: 2px;
}

.h-contacts .hc-city {display: inline-block;}
.h-contacts .hc-phone {display: block;}
.h-contacts .hc-phone {font-size: 19px; font-weight: bold;}
.h-contacts .hc-notice {color: #d80022}

.h-contacts .hc-city i {
	font-size: 5px;
	margin-left: 55px;
	position: relative;
	top: -1px;
}

.h-contacts .hc-icon {
	background: #fff;
	border: 1px solid #ccc;
	
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
		    border-radius: 20px;
	display: block;
	height: 39px;
	padding: 6px 0 0 6px;
	position: absolute;
	left: -20px;
	top: 20px;
	width: 39px;
}

.h-contacts .hc-icon:hover {border-color: #2cbfd6; text-decoration: none;}

.header .h-regional-contacts {
	margin-left: -14px;
	margin-right: 12px;
}

.h-regional-contacts .hc-icon {padding-top: 8px;}

.header .h-regional-contacts .hc-city:hover {
	color: #2cbfd6;
	text-decoration: none;
}

.h-contacts .hc-icon i {
	color: #2cbfd6;
	font-size: 24px;
	height: 25px;
	width: 25px;
}

.h-regional-contacts .hc-icon i {font-size: 23px;}

.header .h-sub-menu {
	border-left: 1px dotted #ccc;
	font-size: 11px;
	min-height: 80px;
	margin-left: -10px;
	padding-left: 17px;
}

.header .h-sub-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.header .h-sub-menu li {
	padding: 1px 0;
}

.header .h-sub-menu li a {
	color: #666;
	display: inline-block;
	height: 23px;
	line-height: 23px;
}

.header .h-sub-menu li a:hover, .header .h-sub-menu li span {
	color: #2cbfd6;
	text-decoration: none;
}

.header .h-sub-menu li i {
	display: inline-block;
	font-size: 19px;
	position: relative;
	bottom: -4px;
	margin: -2px 0;
	width: 30px;
}

.header .h-sub-menu li .icon-payment-and-delivery {font-size: 15px;}

/* < Header */

/* Catalog menu > */

.catalog-menu {padding-top: 22px;}

.catalog-menu ul {
	background: #fff;
	font-size: 14px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.catalog-menu ul li {display: none;}
.tpl-main .catalog-menu ul li {display: block;}

.catalog-menu ul li a, .catalog-menu ul li span {
	border-bottom: 1px solid #ececfb;
	color: #666;
	display: block;
	padding: 13px 12px 14px;
}

.catalog-menu ul li a:hover, .catalog-menu ul li span {
	color: #2cbfd6;
	text-decoration: none;
}

.catalog-menu .cm-title {
	background: #0089a9;
	
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		    border-radius: 2px;
		    
	color: #fff;
	display: block;
	font-size: 17px;
	height: 40px;
	line-height: 40px;
	padding: 0 40px 0 16px;
	position: relative;
	text-transform: uppercase;
}

.catalog-menu .cm-title i {
	background: url("../img/temp-icons/catalog.png") no-repeat;
	display: block;
	height: 13px;
	position: absolute;
	right: 13px; top: 13px;
	width: 15px;
}

.catalog-menu ul li a i, .catalog-menu ul li span i {
	display: inline-block;
	float: left;
	font-size: 22px;
	position: relative;
	top: -1px;
	width: 35px;
}

.catalog-menu ul li a i:before, .catalog-menu ul li span i:before {
	content: "\e615";
}

.tpl-main .catalog-menu .cm-title i {display: none;}

.catalog-submenu {
	background: #fff;
	border-bottom: 1px solid #d8dcdf;
	
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		    border-radius: 2px;
		    
	font-size: 13px;
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
}

.catalog-submenu li a {
	border-top: 1px solid #ececfb;
	color: #666;
	display: block;
	overflow: hidden;
	padding: 14px 15px 15px;
}

.catalog-submenu li:first-child a {border: none;}

.catalog-submenu li a:hover {
	color: #2cbfd6;
	text-decoration: none;
}

.catalog-submenu li a span {
	display: block;
	padding-right: 40px;
}
.catalog-submenu li a i {
	float: right;
	font-style: normal;
	font-weight: 300;
}

/* < Catalog menu */

.search-form {
	font-size: 15px;
	font-weight: 300;
	padding-top: 22px;
	padding-bottom: 20px;	
}

.search-form input, .search-form button {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		    border-radius: 2px;
	
	height: 40px;
	line-height: 40px;
	padding-top: 0;
	padding-bottom: 0;
}

.search-form .btn-block {
	font-size: 17px;
	height: 38px;
	line-height: 38px;
}

.search-form .dropdown-toggle {
	font-size: 15px;
	font-weight: 300;
}

/* Banners main > */

.carousel .carousel-caption {
	bottom: auto;
	top: 35px;
	left: 40px;
	right: 40px;
	font-size: 48px;
	line-height: 110%;
	padding: 0;
	text-align: left;
}

.carousel .carousel-caption:hover {
	text-decoration: none;
}

.carousel .carousel-control {z-index: 100}
.carousel .carousel-control span {display: none;}

.carousel .carousel-indicators {margin-bottom: 0; bottom: 12px;}

.carousel .carousel-indicators li {
	background: #333;
	margin: 0 3px;
	opacity: 0.5;
}

.carousel .carousel-indicators li:hover {opacity: 0.9;}

.carousel .carousel-indicators li.active {
	background: #0089a9;
	margin: 0 3px;
	opacity: 1;
	height: 10px;
	width: 10px;
}

/* < Banners main */

/* Catalog > */
.goods-list .gl-item-wrap {
	margin-bottom: 20px;
	overflow: hidden;
}

.goods-list .gl-item {
	background: #fff;
	overflow: hidden;
	padding: 10px 15px 15px;
	position: relative;
}

.goods-list .gl-item .gl-name {
	color: #333;
	display: block;
	font-size: 17px;
	font-weight: 700;
	height: 25px;
	overflow: hidden;
	padding-right: 30px;
}

.goods-list .gl-item .gl-name:hover {
	color: #2cbfd6;
	text-decoration: none;
}

.goods-list .gl-item .gl-preview-text {
	font-size: 13px;
	font-weight: 300;
	height: 20px;
	margin-bottom: 5px;
	overflow: hidden;
}

.goods-list .gl-item .gl-sticker {
	-moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);

	background: #999;
	color: #fff;
	display: block;
	font-size: 13px;
	font-weight: 500;
	padding-top: 23px;
	position: absolute;
	height: 45px;
	top: -7px; right: -30px;
	text-transform: uppercase;
	text-align: center;
	width: 90px;
}

.goods-list .gl-item .sticker-action {background: #d80022}
.goods-list .gl-item .sticker-hit {background: #b973ff}
.goods-list .gl-item .sticker-new {background: #ff8000}

.goods-list .gl-item .gl-buy-block {
	height: 50px;
	overflow: hidden;
	padding-top: 15px;
}

.goods-list .gl-item .gl-buy-block .gl-price-wrap {
	float: left;
	width: 50%;
}

.goods-list .gl-item .gl-buy-block .btn {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		    border-radius: 3px;
		    
	font-size: 11px;
	float: right;
	font-weight: 500;
	padding-top: 8px;
	padding-bottom: 8px;
	text-transform: uppercase;
	width: 50%;
}

.goods-list .gl-item .gl-buy-block .gl-price {
	color: #333;
	display: block;
	font-size: 19px;
	font-weight: 700;
}

.goods-list .gl-item .gl-buy-block .gl-old-price {
	color: #999!important;
	font-size: 13px;
	font-weight: 300;
	margin: -8px 0 -5px;
	text-decoration: line-through;
}

.rating {
	background: url("../img/temp-icons/rating.png") no-repeat;
	height: 13px;
	width: 73px;
}

.gl-main-actions {
	border-bottom: 1px solid #d8dcdf;
	
	-webkit-border-radius: 0 0 3px 3px;
	   -moz-border-radius: 0 0 3px 3px;
		    border-radius: 0 0 3px 3px;
	
	margin: 0;
}

.gl-main-actions .gl-item-wrap {
	background: #ddd;
	margin-bottom: 0;
	padding: 0 1px 0 0;
}

.gl-main-actions .gl-item-wrap:last-child {
	padding: 0;
	
	-webkit-border-radius: 0 0 3px 0;
	   -moz-border-radius: 0 0 3px 0;
		    border-radius: 0 0 3px 0;
}

.gl-main-actions .gl-item-wrap:first-child {
	-webkit-border-radius: 0 0 0 3px;
	   -moz-border-radius: 0 0 0 3px;
		    border-radius: 0 0 0 3px;
}

.gl-main-actions .gl-item {
	background: #fff;
	overflow: visible;
}

.gl-main-actions .gl-buy-block .gl-price {color: #d80022!important;}

.gl-main-actions .gl-buy-block {display: none;}
.gl-main-actions .gl-item-wrap:hover {margin-top: -50px; position:relative; z-index: 1000;}
.gl-main-actions .gl-item-wrap:hover .gl-buy-block {display: block;}

.goods-list .gl-item .gl-img {
	display: block;
	margin-bottom: 5px;
	text-align: center;
}

/*.goods-list .gl-item .gl-img span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}*/

.goods-list .gl-item img {
	max-height: 100%;
	max-width: 100%;
}

.gl-hits {
	border-bottom: 2px solid #ddd;
	padding: 20px 0;
}

.goods-list .gl-item .gl-unavailable {
	color: #666;
	display: block;
}

.goods-list.catalog-section .gl-item {
	border-bottom: 1px solid #d8dcdf;
	
	-webkit-border-radius: 2px 2px 0 0;
	   -moz-border-radius: 2px 2px 0 0;
		    border-radius: 2px 2px 0 0;
		    
	overflow: hidden;
}

.goods-list .gl-item-wrap .gl-cmp-fav {
	background: #f5f8fa;
	border-bottom: 1px solid #d8dcdf;
	
	-webkit-border-radius: 0 0 2px 2px;
	   -moz-border-radius: 0 0 2px 2px;
		    border-radius: 0 0 2px 2px;
		    
	font-size: 11px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding: 0 10px;
}

.goods-list .gl-item-wrap .gl-cmp-fav a i {
	font-size: 16px;
	position: relative;
	bottom: -3px;
}

.goods-list .gl-item-wrap .gl-cmp-fav .gl-compare-link {
	float: left;
	text-decoration: none;
}

.goods-list .gl-item-wrap .gl-cmp-fav .gl-compare-link i {margin-right: 8px;}

.goods-list .gl-item-wrap .gl-cmp-fav .gl-favorite-link {
	color: #d80022;
	float: right;
	text-decoration: none;
}

.goods-list .gl-item-wrap .gl-cmp-fav .gl-favorite-link i {margin-left: 8px;}

.goods-list .gl-item-wrap .gl-cmp-fav .gl-compare-link .icon-compare-act,
.goods-list .gl-item-wrap .gl-cmp-fav .gl-favorite-link .icon-heart-act,
.goods-list .gl-item-wrap .gl-cmp-fav .gl-compare-link:hover .icon-compare,
.goods-list .gl-item-wrap .gl-cmp-fav .gl-favorite-link:hover .icon-heart {display: none;}

.goods-list .gl-item-wrap .gl-cmp-fav .gl-compare-link:hover .icon-compare-act,
.goods-list .gl-item-wrap .gl-cmp-fav .gl-favorite-link:hover .icon-heart-act {display: inline;}

.pagination-wrap {text-align: center}
.pagination {margin: 0;}

/* < Catalog */

.tpl-main .menu-banner-block {border-bottom: 1px solid #ddd; padding-bottom: 20px;}

/* Reviews-services main > */
.reviews-wrap {
	border-bottom: 2px solid #ddd;
	padding-top: 20px;
	padding-bottom: 20px
}

.reviews-wrap .reviews-main {
	font-size: 13px;
}

.reviews-wrap .reviews-main ul {
	border-top: 1px solid #ddd;
	list-style: none;
	margin: 0 0 18px;
	padding: 0;
}

.reviews-wrap .reviews-main li {
	border-bottom: 1px solid #ddd;
	padding: 10px 5px 10px 15px;
}

.reviews-wrap .reviews-main li p {
	margin: 0;
	padding: 4px 0 5px;
}

.reviews-wrap .reviews-main li .rw-author {
	display: block;
	font-weight: 300;
	font-style: italic;
	text-align: right;
}

.reviews-main .h-title {padding-left: 15px;}

.reviews-main .rw-more-link {
	font-size: 15px;
	margin-left: 15px;
	height: 17px;
	line-height: 17px;
}

.reviews-main .rw-more-link i, .news-block .more-link i {
	margin-right: 8px;
	position: relative;
	bottom: -3px;
}

.reviews-main .rw-more-link:hover, .news-block .more-link:hover {
	color: #272a2b!important;
	text-decoration: none;
}

.service-item {	    
	font-size: 17px;
}

.service-item a {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		    border-radius: 3px;
		    
	color: #fff;
	display: block;
	overflow: hidden;
	position: relative;
}

.service-item a img {
	display: block;
	width: 100%;
}

.service-item a .s-title {
	display: block;
	font-size: 22px;
	font-weight: 300;
	line-height: 110%;
	padding: 18px 20px 0;
	position: absolute;
	left: 0; top: 0;
}

.service-item a .s-link {
	display: block;
	padding: 11px 15px 13px 20px;
	position: absolute;
	left: 0; bottom: 0;
	width: 100%;
}

.si-how a .s-link {background-color: rgba(31, 120, 135, 0.81)}
.si-service a .s-link {background-color: rgba(235, 134, 19, 0.81)}
.si-guarantee a .s-link {background-color: rgba(149, 87, 168, 0.81)}

.service-item a .s-link i {
	background: url("../img/temp-icons/arrow-r.png") no-repeat;
	display: inline-block;
	float: right;
	height: 17px;
	position: relative;
	bottom: -4px;
	width: 17px;
}

/* < Reviews-services main */

/* News main > */
.news-block {
	font-size: 13px;
	padding-top: 45px;
	padding-bottom: 45px;
}

.news-title {
	border-bottom: 3px solid #ff8000;
	color: #ff8000;
	display: block;
	font-size: 24px;
	font-weight: 300;
	padding: 0 0 20px;
	text-align: center;
}

.news-title i {display: block; font-size: 93px; margin-bottom: 5px;}
.news-title:hover {color: #272a2b!important; text-decoration: none;}

.news-block ul {
	list-style: none;
	margin: 0 0 15px;
	padding: 3px 0 0;
}

.news-block ul li {
	border-bottom: 1px dotted #ddd;
	padding: 10px 15px;
}

.news-block ul li a {
	color: #272a2b;
	font-size: 19px;
	font-weight: 300;
	line-height: 110%;
	text-decoration: none;
}

.news-block ul li a:hover {color: #2cbfd6}

.news-block ul li p {
	font-weight: 300;
	margin: 0;
	padding: 5px 0 0;
}

.news-block .more-link {
	color: #ff8000;
	font-size: 15px;
	margin-left: 15px;
}

.news-block .actions-idx .news-title {
	border-color: #d80022;
	color: #d80022;
}

.news-block .actions-idx .more-link {color: #d80022}

.news-block .articles-idx .news-title {
	border-color: #0089a9;
	color: #0089a9;
}

.news-block .articles-idx .more-link {color: #0089a9}

/* < News main */

.bc-h1-block {padding: 0 25px;}

/* Footer > */
.pre-footer {
	background: #ddd;
	font-size: 13px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.pre-footer a {
	color: #666;
}

.pre-footer a:hover {
	color: #0088a9;
	text-decoration: none;
}

.pre-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pre-footer ul li {padding-bottom: 11px;}

.pre-footer ul li .active {color: #0088a9;}

.footer-row {
	background: #ccc;
	color: #666;
	font-size: 13px;
	font-weight: 300;
	padding-top: 20px;
	padding-bottom: 45px;
}

.footer-row a {color: #fff;}

.f-right-block {text-align: center;}
.f-right-block .social {margin: 0 -5px; padding-bottom: 10px;}
.f-right-block .social a {margin: 0 6px;}

.f-right-block .fr-title {
	display: block;
	padding-bottom: 5px;
}

.footer-row .f-logo {
	display: block;
	margin-bottom: 35px;
}

/* < Footer */

/* Catalog item > */
.tpl-good-detail h1 {padding-bottom: 0;}

.good-detail {
	
}

.good-detail .gd-preview-text {
	font-size: 24px;
	font-weight: 100;
	padding: 0 15px 5px;
}

.good-detail .gd-price-block {
	
}

.good-detail .product_gallery, .good-detail .gd-price-block, .good-detail .gd-props-block {
	background: #fff;
	border-bottom: 1px solid #c2c6c8;
	
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		    border-radius: 2px;
		    
	overflow: hidden;
}

.gd-price-block .gd-discount {
	background: #d80022;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	padding: 15px 5px;
	text-align: center;
}

.gd-price-block .gd-discount span {font-weight: 300}
.gd-price-block .gd-discount i {font-style: normal; font-weight: 500}

.product_gallery .big_image {
	padding: 30px 0;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.product_gallery .big_image span {
	
}

.product_gallery .big_image span em {
	display: block;
	
	font-style: normal;
}

.product_gallery .big_image span em a {
	display: block;
	position: relative;
	text-align: center;
	
}

.product_gallery .big_image img {
	max-height: 100%;
	max-width: 100%;
}

.product_gallery .big_image .zoom {
	position: absolute;
	right: 0;
	top: 0;
	width: 15px;
	height: 14px;
	cursor: pointer;
}

.product_gallery .group {
	display: none;
}

.product_gallery .thumbs {
	position: relative;
	margin: 0 -10px;
}

.product_gallery .thumbs ul {list-style: none}

.product_gallery .thumbs li {
	float: left;
	margin: 0 10px;
}

.product_gallery .thumbs li img {
	max-width: 90px;
	max-height: 90px;
	vertical-align: top;
}

.product_gallery .thumbs li a {
	display: block;
	position: relative;
	overflow: hidden;
	width: 90px;
	height: 90px;
	border: 1px solid #d7d7d7;
}

.product_gallery .thumbs li.active a {
	width: 86px;
	height: 86px;
	border: 2px solid #999;
}

.product_gallery .thumbs li.active a img {
	margin: -1px;
}

.product_gallery .thumbs .prev {
	position: absolute;
	left: -5px;
	top: 50%;
	margin-top: -16px;
	width: 16px;
	height: 32px;
	cursor: pointer;
	background: url("images/prev_next.png") no-repeat 0 0;
}

.product_gallery .thumbs .next {
	position: absolute;
	right: -5px;
	top: 50%;
	margin-top: -16px;
	width: 16px;
	height: 32px;
	cursor: pointer;
	background: url("images/prev_next.png") no-repeat -16px 0;
}

.product_gallery .thumbs .disabled {
	cursor: default;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

/* < Catalog item */

.tabs {float: left;}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.navbar-bmarkt .user-id-block {width: 70px;}
.carousel .carousel-caption {font-size: 25px;}

.goods-list .gl-item .gl-img {
	height: 265px;
	width: 265px;
}

.navbar-bmarkt .h-cart {min-width: 315px;}

.header .h-contacts .hc-city i {margin-left: 10px;}
	
.header .h-logo a, .header .h-logo span {width: 58px;}
.h-contacts .hc-phone {display: inline-block; font-size: 15px; margin-left: 10px;}

.header .h-contacts {min-height: 30px; padding-top: 0}
.header .h-regional-contacts {margin-left: 0; margin-right: 0; min-height: 50px; padding-top: 5px;}
.h-contacts .hc-notice, .h-contacts .back-call-link {font-size: 11px;}
.h-contacts .back-call-link {display: block;}
.h-contacts .hc-notice {display: inline-block; margin-left: 10px;}

.gl-main-actions .gl-item .gl-img {height: 183px; width: 274px;}
.gl-hits .gl-item .gl-img {height: 264px; width: 264px;}

/* Small devices (phone vertical, 320px and up) */
@media (min-width:320px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.navbar-bmarkt .user-id-block {width: 90px}
	
	.goods-list .gl-item .gl-img {
		height: 225px;
		width: 225px;
	}
	
	.navbar-bmarkt .h-cart {min-width: 400px;}
	
	.catalog-menu ul li a, .catalog-menu ul li span {padding: 8px 12px 9px;}
	
	.gl-main-actions .gl-item .gl-img {height: 157px; width: 236px;}
	.gl-hits .gl-item .gl-img {height: 319px; width: 319px;}
	
	.f-right-block {border-left: 1px dotted #aaa;}
	.pre-footer .f-subscribe {border-left: 1px dotted #bbb}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
	.navbar-bmarkt .user-id-block {width: 115px}
	.carousel .carousel-caption {font-size: 45px;}
	
	.goods-list .gl-item .gl-img {
		height: 190px;
		width: 190px;
	}
	
	.navbar-bmarkt .h-cart {min-width: 395px;}
	
	.header .h-contacts .hc-city i {margin-left: 55px;}
	
	.header .h-logo a, .header .h-logo span {width: auto;}
	.h-contacts .hc-phone {display: block; font-size: 19px; margin-left: 0;}
	
	.header .h-contacts {min-height: 80px; padding-top: 5px;}
	.header .h-regional-contacts {margin-left: -14px; margin-right: 12px; padding-top: 5px;}
	.h-contacts .hc-notice, .h-contacts .back-call-link {font-size: 13px;}
	.h-contacts .back-call-link {display: inline;}
	.h-contacts .hc-notice {display: inline; margin-left: 0;}
	
	.catalog-menu ul li a, .catalog-menu ul li span {padding: 13px 12px 14px;}
	
	.gl-main-actions .gl-item .gl-img {height: 135px; width: 202px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {
	.carousel .carousel-caption {font-size: 48px;}
	
	.goods-list .gl-item .gl-img {
		height: 240px;
		width: 240px;
	}
	
	.navbar-bmarkt .h-cart {min-width: 535px;}
	
	.gl-main-actions .gl-item .gl-img {height: 168px; width: 252px;}
}